<div class="content">
  <div class="grid">
    <div class="grid-sizer"></div>

<% var i = 0; %>
<% while (i < profiles.length) { %>
  <% console.log(profiles[i].pictures); %>
  <% if(profiles[i].pictures !== undefined) { %>
    <% console.log("poop") %>
    <div class="grid-item">
      <a href="#" class="pop"><img src="<%= "/profiles/"+ profiles[i].profileid + "/" + profiles[i].pictures[0].picturePath %>" name="<% profiles[i].pictures[0].pictureid %>" </a>
    </div>
  <% } %>  
<% i++; %>    
<% } %>   
  </div>
</div>     

   