<!-- Onyly display the grid if the user is logged in -->
<% if(user){ %>
  <div class="content">
    <div class="grid">
      <div class="grid-sizer"></div>
      <%var i = 0; %>
      <% while (i < profile.pictures.length) { %>
          <div class="grid-item" styl="position: relative;">
            <div id="deleteButton" style="position: absolute;top: 4px;left: 4px;z-index: 1;background-color: #7FB3D5;padding: 15px;border-radius: 11px;cursor: -webkit-grab;">Delete</div>
            <a href="#" class="pop"><img src= "<%= profile.pictures[i].picturePath %>" ></a>
          </div> 
          <% i++; %> 
      <% } %>
<% } %> <!-- end if -->       
    </div>
  </div>

 