<!-- Onyly display the grid if the user is logged in -->
<% if(user){ %>
  <div class="content">
    <div class="grid">
      <div class="grid-sizer"></div>
      <%var i = 0; %>
      <% while (i < profile.pictures.length) { %>
          <div class="grid-item" styl="position: relative;">
            
            <a href="#" class="pop"><img src= "<%= profile.pictures[i].picturePath %>" ></a>
            <div id="deleteButton" class="deleteButtons" style="position: absolute;top: 4px;right: 0px;z-index: 1;background-color: lightcoral;border-radius: 11px;cursor: -webkit-grab;font-size: 58px;padding: 0px; visibility: hidden;">X</div>
          </div> 
          <% i++; %> 
      <% } %>
<% } %> <!-- end if -->       
    </div>
  </div>

 