<nav class="navbar navbar-inverse">
	<div class="navbar-fixed">
	<div class="container-fluid">
		<div class="navbar-header">
		</div>
		<div class="collapse navbar-collapse navbar-content" id="myNavbar">
			<a href="/home">
	  			<img src="/images/artilizerlogo2.png" class="logo" width= "200px";
					height= "150px">
	  		</a>
	  		<div class="navbar-links">
	  		<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="/explore">
						<span class="explore">Explore</span>
					</a>
				</li>
	    		<li>
	    			<a href="/about">
	    				<span class="about">About</span>
	    			</a>
	    		</li>
	    		<!-- if the user isnt logged in display the loggin & signup link -->
	    		<% if(!user){ %>
	    			<li>
	    				<a href="/login">
	    					<span class="login">Login</span>
	    				</a>
	    			</li>
	    			<li>
	    				<a href="/create-account">
	    					<span class="sign-up">Create Account</span>
	    				</a>
	    			</li>
	    		<% } %>
	    		<!-- only display the dropdown if the user is logged in -->
				<% if(user){ %>
					<li class="dropdown">
	          			<a class="dropdown-toggle profile" data-toggle="dropdown" href="/profile">
	          				<img id="profilePic" src="/images/pip.png" width="50px" height="50px">
	          				<span class="caret"></span>
	          			</a>
	          			<ul class="dropdown-menu">
	            			<li>
	            				<a href="/profile">Profile</a>
	            			</li>
	            			<li>
	            				<a href="/logout">Logout</a>
	            			</li>
	          			</ul>
	        		</li>
	        	<% } %> <!-- end if -->
	  		</ul>
	  		</div>
		</div>
	</div>
	</div>
</nav>