

<!DOCTYPE HTML>
<html lang="en">
<head>
<title>ASP</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Libre+Franklin" rel="stylesheet">
<script type = "text/javascript" src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type = "text/javascript" src = "https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>
<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/style.css">
<script type="text/javascript" src="/javascript/home-grid.js"></script>
<script type="text/javascript" src="/javascript/open-image.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10';
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

	<!-- write the header -->
	<% include partials/header %>

	<div class="container wrapper">
		<div class="row">
			<div class="col-md-8 col-md-offset-1"><h1 style="font-weight:bold; color: #FA7470; font-size: 75px">Stylize</h1></div>
		</div>
		<div class="row">
			<div class="col-md-10 col-md-offset-1"><h1 style="margin-top: 10px">Upload a Photo or Video to Style</h1></div>
		</div>	
		<div class="row">
			<div class="col-md-4 col-md-offset-1 upload" id="upload-photo">
		      	<div class="file-upload">
		        	<div class="file-select">	
		          		<div class="file-select-button" id="fileName"><i class="material-icons" id="camera_icon" style="font-size: 30px">camera_alt</i></div>
		          		<div class="file-select-name" id="noFile" style="font-size:20px">Upload Photo</div>
		          		<form method="post" id="uploadPhotoForm" enctype="multipart/form-data">
		          			<input id="uploadPhoto" type="file" class="upload" accept=".png,.jpg" name="content"   />
		          		</form>	
		        	</div>
		      	</div>
			</div>
			<!-- <div class="col-md-4 upload" id="upload-video">   	
				<div class="file-upload" data-toggle="modal" data-target="#myModal">
		        	<div class="file-select">
		          		<div class="file-select-button" id="fileName"><i class="material-icons" id="video_icon" style="font-size: 30px">videocam</i></div>
		          		<div class="file-select-name" id="noFile" style="font-size:20px">Choose Video</div>
		          		<form method="post" id="uploadVideoForm" enctype="multipart/form-data">
		          			<input id="uploadVideo" type="file" class="upload" multiple="multiple" accept="image/*" name="content" />
		          		</form>	
		        	</div>
		      	</div>
			</div>	 -->
		</div>
		<div class="modal fade" id="uploadModal" role="dialog">
    		<div class="modal-dialog">
      			<div class="modal-content">
        			<div class="modal-header">
        				<div class="container carousel-container">
        					<div class="row">
        						<div class="col-md-12" style="text-align: center; margin-bottom: 20px; font-size: 20px;">Choose Style</div>
        					</div>
							<!-- write the header -->
							<% include partials/styles %>
    						<nav>
								<ul class="control-box pager">
									<li><a data-slide="prev" href="#uploadCarousel" class=""><i class="glyphicon glyphicon-chevron-left"></i></a></li>
									<li><a data-slide="next" href="#uploadCarousel" class=""><i class="glyphicon glyphicon-chevron-right"></i></li>
								</ul>
							</nav>
    					</div>
        			</div>
        			<div class="modal-body">
          				<img id="uploaded-image" src="#" style="width:100%;"/>
          				<div class="sk-folding-cube">
						  <div class="sk-cube1 sk-cube" style="background-color: #FA7470;"></div>
						  <div class="sk-cube2 sk-cube" style="background-color: #FA7470;"></div>
						  <div class="sk-cube4 sk-cube" style="background-color: #FA7470;"></div>
						  <div class="sk-cube3 sk-cube" style="background-color: #FA7470;"></div>
						</div>
						<div style="position: absolute;left: 50%;bottom: 2px;">
							<div id="failMessage" style="background-color: lavender;font-size: 20px;padding: 25px;position: relative;border-radius: 22px;left: -50%; ">Upgrade to Premium to Save More Images</div>
						</div>	
        			</div>
        			<div class="modal-footer">
        				<div class="fb-share-button" data-href="http://10.10.7.179:8085/public/images/pip.png" data-layout="button" data-size="small" data-mobile-iframe="true"><a style="float:left; width: 50px; height: 50px; margin-right: 10px;" class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F10.10.7.179%2Fpublic%2Fimages%2Fpip.png&amp;src=sdkpreparse"><img src="/images/facebook.png"/></a></div>
        				<img src="/images/twitter.png" style="float:left; width: 50px; height: 50px"/>
						<button type="button" class="btn btn-primary modal-button" id="saveButton" >Save content</button>
          				<button type="button" class="btn btn-default" data-dismiss="modal" id="closeButton">Close</button>
        			</div>
      			</div>
    		</div>
  		</div>

	</div>
		

	<!-- write the grid -->
	<% include partials/grid %>

	<div class="footer-container">
        <a class="footer-content" href="ebinizerlop@gmail.com" style="color: black;">Contact us</a>
        <p class ="footer-content" style="font-size: 12px;">&copy; 2017 Artilizer, No Rights Reserved</p>
  	</div>	
</body>


<!-- <form action="upload_photo" method="post" enctype="multipart/form-data">
content: <input type="file" name="photo" accept=".png,.jpg"><br>
style: <input type="file" name="photo" accept=".png,.jpg"><br>
<input type="submit" name="submit" value="stylize">
</form> -->
